@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

.card-glass {
  background: rgba(69, 90, 100, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 5px;
}
.mt-6 {
  margin-top: 6rem !important;
}
.text-orange {
  color: #ff725e !important;
}
.bg-orange {
  background-color: #ff725e !important;
}
.cr-pointer {
  cursor: pointer !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.required-field::after {
  content: "*";
  color: red;
}
.table-responsive {
  overflow-y: auto !important;
}
.image-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}
.img-remove-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 2rem;
  color: red;
  z-index: 9999 !important;
  cursor: pointer;
}
